body {
    background-image: url("./Assets/Pokemon.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  rgba(169, 169, 169, 0.9);
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(169, 169, 169, 0.9);
    height: 100%;
    width: 25%;
    margin-top: 12.5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 5vw;
    text-align: center;
}



@media screen and (max-width: 768px) {
    body {
        background-size: auto;
    }

    .container {
        height: 100%;
        width: 75%;
        margin-top: 5vh;
        padding: 2.5vh;
    }

    .container h1 {
        font-size: 1rem;
    }   
}